body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}


td, th {
  padding: 3px 7px;
  border: 1px solid #ddd;
}

td {}
th {}
table {}

table + p {
  /* Whitespace between tables and
   * paragraphs.
   ------------------------------- */
  margin-top: 10px;
}

.td-right td + td {
  /* Right-aligns table cell data
   * for cells not in column 1.
   * Useful for numeric values.
   ------------------------------- */
  text-align: right;
}

div.well p:last-child {
  /* No bottom margin on the last
   * para in a visible container.
   * Pertains to other block-level
   * element types in other kinds
   * of containers (blockquotes?).
   ------------------------------- */
  margin-bottom: 0;
}

/* Custom styles for generated 'results' tables
   ============================================ */

/* Big Hammer
 * Targets all GCharts-generated tables within div#basic-results
   ------------------------------------------------------------- */

div#basic-results table.google-visualization-table-table * {
  font-size: 14px;
  padding: 3px 7px;
  width: auto;
}

/* Styles mapping to GCharts cssClassNames
   --------------------------------------- */

.rslts-headerRow {
/* table header row (<tr> element) */
}

.rslts-tableRow {
/* non-header rows (<tr> elements) */
}

.rslts-oddTableRow {
/* odd table rows (<tr> elements);
   moot if alternatingRowStyle = false */
}

.rslts-selectedTableRow {
/* selected table row (<tr> element) */
}

.rslts-hoverTableRow {
/* hovered table row (<tr> element) */
}

.rslts-headerCell {
/* cells in the header row (<td> element) */
  color: #000;
  background-color: #ddd;
  font-weight: bold;
  text-align: center;
}

.rslts-tableCell {
/* non-header table cells (<td> element) */
}

.rslts-rowNumberCell {
/* cells in the row number column (<td> element);
   moot if showRowNumber = false */
}

/* Yet more granular; slightly brittle
   ----------------------------------- */

td.rslts-tableCell:first-child {
/* Style only 1st column cells */
/* These are used for codec names in diagonal-codec tables */
  color: #000;
  font-weight: bold;
  background-color: #ddd;
  /*text-align: center;*/
}

td.rslts-tableCell + td {
/* Right-align cells not in the 1st column */
  text-align: right;
}
